html,
body {
  margin: 0%;
  /* background style */
  background-color: rgb(250, 250, 250);
}
header {
  /* header 높너비 지정 */
  width: 100vw;
  height: 60px;
  /* fix to top of viewport */
  position: fixed;
  top: 0;
  /* border style */
  border-bottom: 1px solid rgb(219, 219, 219);
  /* z-index */
  z-index: 10;
  /* background style */
  background-color: white;
}
nav {
  /* 중앙정렬 */
  margin: auto;
  /* 최대 넓이, 블록 크기 지정 */
  max-width: 935px;
  height: 100%;
  padding: 0 20px 0 20px;
  /* display 처리 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-div {
  /* flex ratio */
  flex: 1 0 127px;
  position: relative;
}
/* 로고 스타일링 */
#navLogo {
  /* block align */
  margin-top: auto;
  margin-bottom: auto;
  /* block sizing */
  width: 127px;
  height: 36px;
  /* display */
  display: flex;
}
#navLogo > a {
  /* block sizing */
  width: 103px;
  height: 100%;
}
#navLogo > a > div {
  /* block sizing */
  height: 100%;
  /* display */
  display: flex;
  align-items: flex-end;
}
.logo-png {
  /* background-image position */
  background-image: url('https://static.cdninstagram.com/rsrc.php/v3/y1/r/FgK_82FrL6G.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 -30px;
  /* block sizing */
  width: 103px;
  height: 29px;
  /* display */
  display: inline-block;
}
/* 검색바 관련 스타일링 */
#navSearchBar {
  /* 중앙정렬 */
  margin: auto;
  /* 배경색 및 블록 모형 지정 */
  background-color: #ebedf0;
  border-radius: 8px;
  /* 블록 크기 지정 */
  min-width: 125px;
  max-width: 268px;
  height: 36px;
  /* display 처리 */
  align-items: center;
  display: flex;
  flex-direction: column;
  /* position */
  position: relative;
}
#navSearchField {
  /* 블록 크기 지정 */
  padding: 3px 16px 3px 16px;
  max-width: calc(268px - 32px);
  width: calc(100% - 32px);
  height: 30px;
  /* input 스타일 변경 */
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  /* position 설정 */
  position: relative;
  /* z-index 설정 */
  z-index: 10;
  /* font-size 설정 */
  font-size: 16px;
}
#navSearchField:focus {
  /* input focus상태에서 테두리 제거 */
  outline: none;
}
#navSearchBar:focus-within > #navSearchButton {
  display: none;
}
#navSearchBar:focus-within > .searchbar-undo {
  display: block;
}
#navSearchButton {
  /* position 설정 */
  position: absolute;
  /* display 설정 */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  /* 블록 크기 지정 */
  width: calc(100% - 32px);
  height: 36px;
  padding: 0px 16px 0px 16px;
}
.searchbar-button {
  /* 블록 크기 지정 */
  width: 236px;
  height: 25px;
  margin: auto;
  /* display 설정 */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchbar-icon {
  /* 블록 크기 지정 */
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.searchbar-text {
  /* 블록 크기 지정 */
  width: 32px;
  height: 25px;
  /* 폰트 스타일 지정 */
  font-size: 100%;
  color: #bec3c9;
  vertical-align: bottom;
  display: inline-block;
  line-height: 25px;
}
.searchbar-undo {
  /* display */
  display: none;
  /* position */
  position: absolute;
  z-index: 11;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  /* background image */
  background-image: url('https://static.cdninstagram.com/rsrc.php/v3/y5/r/bve3a0HeZc8.png');
  background-repeat: no-repeat;
  background-position: -318px -333px;
  /* block sizing */
  height: 20px;
  width: 20px;
  /* cusor */
  cursor: pointer;
}
/* 바로가기 아이콘 스타일링 */
#navIcons {
  /* display */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.nav-div-flex-right {
  /* display */
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: stretch;
  /* block sizing */
  padding-left: 24px;
  height: 24px;
}
.nav-icon {
  /* block sizing */
  margin-left: 22px;
}
.nav-icon-svg {
  /* block sizing */
  width: 24px;
  height: 24px;
  /* svg color */
  color: #262626;
  fill: #262626;
}
.nav-icon-profile-myimg {
  /* block sizing */
  width: 24px;
  height: 24px;
  border-radius: 24px;
}
/* 메인 섹션 스타일링(미디어쿼리 처리 => 1000px) */
@media screen and (max-width: 1000px) {
  aside {
    /* disable display when vw less than 1000px */
    display: none;
  }
}
main {
  /* block sizing */
  width: calc(100vw - 32px);
  /* set display */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* set margin */
  margin-top: 60px;
}
.flex-layout-center {
  display: flex;
}

/* Article styles */
#articleList {
  /* block sizing */
  width: 470px;
  height: 800px;
  /* set margin */
  margin-top: 26px;
  margin-right: 32px;
}
.section-div {
  /* border style */
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  /* background style */
  background-color: white;
}
.section-stories {
  /* block sizing */
  width: 468px;
  height: 85px;
}
.section-articles {
  /* set margin */
  margin-top: 16px;
}
.article-div {
  /* set margin */
  margin-bottom: 12px;
}

.section-suggest {
  /* block sizing */
  width: 470px;
  height: 246px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 16px;
}
.section-post {
  /* block sizing */
  width: 470px;
  min-height: 716px;
}
.section-post-name {
  display: flex;
  width: calc(100% -24px);
  height: 59px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.section-post-userimg {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 32px;
}
.section-post-userimg > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.section-post-info {
  width: 364px;
  height: 42px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.post-info-name > a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(38, 38, 38);
}
.post-info-location {
  font-size: 12px;
  line-height: 18px;
  color: rgb(38, 38, 38);
}
.section-post-image {
  position: relative;
}
.section-post-album-window {
  overflow: hidden;
  height: 470px;
}
.section-post-album {
  height: 470px;
  display: flex;
  transition: all 0.25s ease;
}
.section-post-album-image {
  width: 470px;
  height: 470px;
  object-fit: cover;
}
.section-post-album-button-box {
  position: absolute;
  top: 0;
  width: 470px;
  height: 470px;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Aside styles */
aside {
  /* position */
  position: sticky;
  /* block sizing */
  width: 319px;
  height: 937px;
  /* set margin */
  margin-top: 16px;
  margin-bottom: 30px;
  /* z-index */
  z-index: 1;
}
.my-profile {
  /* block sizing */
  width: 319px;
  height: 66px;
  /* set margin */
  margin-top: 16px;
  margin-bottom: 10px;
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.my-profile-img {
  /* block sizing */
  width: 50px;
  height: 56px;
  /* set margin */
  margin-right: 12px;
}
.my-profile-img > img {
  /* block sizing */
  width: 56px;
  height: 56px;
  /* border-radius set */
  border-radius: 28px;
}
.my-profile-info {
  /* block sizing */
  width: 225px;
  height: 30px;
}
.my-profile-info-id {
  /* block sizing */
  height: 11px;
}
.my-profile-info-my-id {
  /* block sizing */
  height: 18px;
}
.my-profile-info-my-id-a {
  /* block sizing */
  height: 18px;
  /* display */
  display: inline-block;
  /* font style */
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(38, 38, 38);
}
.my-profile-info-name {
  /* block sizing */
  margin-top: 8px;
  height: 11px;
}
.my-profile-info-my-name {
  /* block sizing */
  height: 18px;
  /* font style */
  font-size: 14px;
  line-height: 18px;
  color: rgb(142, 142, 142);
}
.info-text {
  /* block sizing */
  height: 18px;
  margin-left: 12px;
}
.my-profile-changeacout {
  /* font style */
  font-size: 12px;
  line-height: 16px;
  margin: -2px 0 -3px;
}
.my-profile-changeacout > a {
  /* display */
  display: inline-block;
  /* font style */
  color: rgb(0, 149, 246);
  text-decoration: none;
  font-weight: 600;
}
.suggest-list {
  /* block sizing */
  width: 351px;
  height: 279px;
  margin-bottom: 12px;
}
.suggest-list-text {
  /* block sizing */
  width: 319px;
  height: 11px;
  padding: 4px 0 4px 0;
  /* display */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

/* article */
